<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="portfolio-page">
    <main>
        <div class="container">
            <div class="profile">
                <img src="https://picsum.photos/200" alt="Your Photo" class="profile-photo" />
                <div class="profile-description">
                    <h2>Patryk Dudka</h2>
                    <p>Hey there! 👋 I'm Patryk, a programmer with a passion ignited in IT school, starting with Turbo Pascal and moving on to C++. I explored game development using libraries like SFML and Box2D, then ventured into Unity with C#. Now, I'm diving into web development, eager to create amazing digital experiences. Let's code something awesome! 🚀</p>
                    <hr />
                    <ul>
                        <li>C++</li>
                        <li>C#</li>
                        <li>Unity</li>
                        <li>GODOT</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
