<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="projects-page">
    <main class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://img.itch.zone/aW1hZ2UvMjAyMDQ1NC8xMzU0NzAyNS5wbmc=/original/aCUtGK.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Abyss</h5>
                        <p class="card-text">Pixelart dynamic metroidvania game made in Unity.</p>
                        <a href="https://xarcane.itch.io/the-abyss" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://picsum.photos/200" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Portfolio</h5>
                        <p class="card-text">Simple portfolio in ASP Net Core.</p>
                        <a href="https://github.com/Xarcaneo/Portfolio-v1" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
